__pycache__/
*.py[cod]

.pytest_cache/
.ruff_cache/
.vscode/

.env
.env.*
!.env.example

script/
test/

model/embedding/*
!model/embedding/.gitkeep
db/vector/*
!db/vector/.gitkeep
db/chunks/*
!db/chunks/.gitkeep
db/meta/*
!db/meta/.gitkeep
docs/*
!docs/.gitkeep

*.pdf
