langchain
langgraph
langchain-openai
langchain-community
langchain-huggingface
langchain-text-splitters
qdrant-client[fastembed]>=1.15.2
pymupdf4llm
sentence-transformers
huggingface-hub
pydantic
requests
PyPDF2
pytest
fastapi
uvicorn
python-multipart
neo4j
